*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: Poppins, sans-serif;
}
nav{
    height: 60px;
    background-color: #1f2937;
    color: #fff;

}
nav .container{
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 13px;
}
nav a{
    text-decoration: none;
    color: #e5e7eb;
}
.logo{
    font-size: 25px;
    font-weight: 700;
}
header{
    background-color: #1f2937;
    color: #fff;
    height: 350px;
}
header .container{
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.header-first-child{
    color: #fff;
    flex: 1;
}
.header-text{
    color: #e5e7eb;
}
header button{
    background-color: #3882f6;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 24px;
    font-weight: 700;
}
header .img{
    background-color: grey;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex: 1;
}
h2{
    color: #1f2937;
    text-align: center;
    margin-bottom: 40px;
}
.first-section{
    height: 400px;
}
.first-section .container{
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;

}
.square{
    border: 4px solid #3881f6bb;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-align: center;
    flex: 0 1 auto;
}
.first-section-second-child{
    display: flex;
    color: #757575;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.second-section{
    background-color: #e5e7eb;
    height: 330px;
}
.second-section .container{
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.quote{
    color: #0e1218;
    font-style: italic;
    font-size: 25px;
    font-weight: 100;
}
.author{
    align-self: flex-end;
    margin-right: 60px;
}
.third-section{
    height: 270px;
    color: #fff;
}
.third-section .container{
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue{
    background-color: #3882f6;
    border-radius: 5px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 100px;
}
.third-section button{
    background-color: #3882f6;
    border: 1px solid #fff;
    color: white;
    border-radius: 5px;
    padding: 5px 24px;
    font-weight: 700;
    height: 30px;
}
footer{
    background-color: #0e1218;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}